{% paginate collection.products by 24 %}
  <div class="page-width">
    <header class="collection-header">
      <h1>{{ collection.title }}</h1>
      {% if collection.description != blank %}
        <div class="rte">
          {{ collection.description }}
        </div>
      {% endif %}
    </header>

    <div class="collection-filters">
      {% render 'collection-sorting' %}
      {% render 'collection-filters' %}
    </div>

    <div class="product-grid">
      {% for product in collection.products %}
        {% render 'product-card', product: product %}
      {% endfor %}
    </div>

    {% render 'pagination', paginate: paginate %}
  </div>
{% endpaginate %} 