{% section 'hero' %}
{% section 'price-benefits' %}

<div class="page-width">
  {% section 'why-choose-us' %}
  {% section 'collection-list' %}
  {% section 'clearance-deals' %}
</div>

{% section 'testimonials' %}